.hamburger_sideMenu {
  padding: 12px 30px 12px 20px;
  border: 0.8px solid #8c8e9251;
  position: absolute;
  box-shadow: 0 3px 8px rgba(0.3);
  width: 250px;
  background-color: white;
  top: 55px;
  left: 1px;
  transition: all 0.15s linear;
  animation-name: openMenu;
  animation-duration: 1s;
  animation-direction: alternate;
}

.header_fullscreen_sideMenu {
  margin-bottom: 10px;
  margin: 20px 0;
  padding: 0 5px;
}
/* .list_Item .navbar_text {
  font-size: 1rem;
} */
.profile_img_container_sideMenu {
  gap: 8px;
  display: flex;
  align-items: center;
}

.profile_img_container_sideMenu .profile_pic_sideMenu {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  object-fit: cover;
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_Item {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.list_Item span:hover {
  color: #259ef3;
}

@keyframes openMenu {
  0% {
    left: -250px;
  }
  100% {
    left: 0px;
  }
}

@keyframes closeMenu {
  0% {
    left: -250px;
  }
  100% {
    left: 0px;
  }
}
