.App {
  font-family: "Source Sans Pro", sans-serif;
  /* padding: 15px; */
  position: relative;
}

@media screen and (min-width: 768px) {
  .App {
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 0;
  }
}
